<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Time Display</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
    <br>
    <center><h2>The Current Time and Date: </h2></center><br>
        @{ 
            string CurrentDate = DateTime.Now.ToString("MMMM dd, yyyy");
            string CurrentTime = DateTime.Now.ToString("h:mm:ss tt");
        <div style="margin: auto; border: 2px solid black; width: 50%;padding: 10px;">
            <center><h4 style= "color: blue">@CurrentDate</h4></center>
            <center><h4 style= "color: blue">@CurrentTime</h4></center>

        </div>
        }
    </div>
</body>
</html>